html, body {
  overflow-x: hidden;
  font-family: "M PLUS 1p";
  background-color: #ffffff;
  font-size: 12px;
  max-width: 100%;
}

img, p, span, a, div {
  /* disable selection */
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  /* disable drag */
  -khtml-user-drag: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
   user-drag: none;
}

.box {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 800px;
  width: 800px;
  margin-left: -400px;
  margin-top: -400px;
  background-color: #eee;
  border-radius: 20px;
}

.box img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.in {
  display: flex;
  height: 700px;
  width: 700px;
  margin: 50px;
  text-align: center;
}

.left {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
}

.right {
  margin-left: 50px;
  width: 30%;
}

.icon {
  margin: auto;
  height: 200px;
  width: 200px;
}

.icon img {
  border-radius: 20px;=
}

.icon img:hover {
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}

.links {
  margin: auto;
  display: flex;
  width: 120px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.links a {
  margin: 5px;
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 50%
}

.links img:hover {
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}

.grid {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ddd;
  border-radius: 20px;
}

.item {
  margin: 20px;
  height: 100px;
  width: 100px;
  background-color: #fff;
}

.item:hover img {
  -ms-transform: translate(0, -2px);
  -webkit-transform: translate(0, -2px);
  transform: translate(0, -2px);
}

.bar {
  height: 20px;
  width: 100%;
  background-color: #fff;
}

.slot {
  margin: 20px;
  height: 300px;
  width: 100%;
}