html, body {
  overflow-x: hidden;
  font-family: "M PLUS 1p";
  background-color: #ffffff;
  font-size: 12px;
  max-width: 100%;
}

img, p, span, a, div {
  /* disable selection */
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  /* disable drag */
  -khtml-user-drag: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
   user-drag: none;
}

.box {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 480px;
  min-height: 560px;
  margin-left: -240px;
  margin-top: -280px;
  background-image: url('../images/vendingmachine.png');
  background-repeat: no-repeat;
}

.box img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.in {
  display: flex;
  margin-left: 50px;
  margin-top: 50px;
  text-align: center;
}

@media (max-width: 800px) {
  .box {
    margin: auto;
    position: static;
    height: 100%; 
    width: 100%;
    overflow-y: auto;
  }
}

.left {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
}

.right {
  width: 80px;
  margin-left: 80px;
}

.icon {
  max-height: 200px;
  max-width: 200px;
}

.icon img:hover {
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}

.links {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.links a {
  margin: 5px;
  max-height: 80px;
  max-width: 80px;
}

.links img:hover {
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  transition: all 0.2s ease;
}

.grid {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  height: 80px;
  width: 80px;
  z-index: 1;
  cursor: pointer;
}

.shop {
   content: url('../images/items/shop1.png');
}
.shop:hover {
   content: url('../images/items/shop2.png');
  -ms-transform: translate(0, -6px);
  -webkit-transform: translate(0, -6px);
  transform: translate(0, -6px);
  transition: all 0.2s ease;
} 

.games {
   content: url('../images/items/games.png');
}
.games:hover {
   content: url('../images/items/games.png');
  -ms-transform: translate(0, -6px);
  -webkit-transform: translate(0, -6px);
  transform: translate(0, -6px);
  transition: all 0.2s ease;
} 

.soon {
   content: url('../images/items/soon1.png');
}
.soon:hover {
   content: url('../images/items/soon2.png');
} 

.out {
  margin-top: 55px;
  margin-left: 190px;
}

.out p {
  width: 100px;
  text-align: center;
  color: #fff;
  letter-spacing: .15rem;
}

footer {
  position: absolute;
  bottom: -25px;
  width: 100%;
  text-align: center;
  color: #95b4f2;
}